In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../credit_package/data/Credit_Card_Complaints.csv")

In [4]:
df.head(5)

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,07/29/2013,Credit card,NaN,Billing statement,NaN,NaN,NaN,Citibank,OH,45247,NaN,NaN,Referral,07/30/2013,Closed with explanation,Yes,Yes,469026
1,07/29/2013,Credit card,NaN,APR or interest rate,NaN,NaN,NaN,Synchrony Financial,WA,98548,NaN,NaN,Web,07/29/2013,Closed with monetary relief,Yes,No,469131
2,07/29/2013,Credit card,NaN,Delinquent account,NaN,NaN,NaN,Amex,TX,78232,NaN,NaN,Web,07/29/2013,Closed with monetary relief,Yes,No,479990
3,07/29/2013,Credit card,NaN,Billing disputes,NaN,NaN,NaN,Capital One,FL,32226,Servicemember,NaN,Web,07/29/2013,Closed with explanation,Yes,No,475777
4,07/29/2013,Credit card,NaN,Credit line increase/decrease,NaN,NaN,NaN,Citibank,WI,53066,Older American,NaN,Phone,07/30/2013,Closed with explanation,Yes,Yes,469473

In [7]:
df['Consumer disputed?'].value_counts()

No     65839
Yes    18069
Name: Consumer disputed?, dtype: int64

In [1]:
# df.plot.bar(x='Consumer disputed?')